.el-alert {
  padding: 1rem 2rem;
  border-radius: 0;

  &__description {
    font-size: 0.875rem !important;
    margin: 0 !important;
    line-height: 1.5;
  }

  &__icon {
    align-self: flex-start;

    &.el-icon-info.is-big {
      color: #607D8B;
    }
  }

  &--info.is-light {
    background-color: $--color-border-lighter;
    color: $--color-border-base;
  }

  &__content {
    padding: 0 1rem;
  }
}