.el-alert {
  padding: 1rem 2rem;

  &__description {
    font-size: 0.875rem !important;
    margin: 0 !important;
    line-height: 1.5;
  }

  &--info.is-light {
    background-color: $--border-color-lighter;
    color: $--border-color-base;
  }
}