.el-button {
  // height: 100%;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;

  &--small.is-round {
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
  }
}