.el-button {
  // height: 100%;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;

  &--small.is-round {
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
  }
}

.delete-button {
  background: $color-error;
  border-radius: 100rem;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  color: white;
  
  i {
    font-size: 0.75rem;
  }
}