.el-dialog {
  width: 75%;
  max-width: 800px;
  border-radius: 0;

  &__title {
    color: $--color-text-secondary;
    font-weight: 500;
  }

  &__body {
    color: inherit;
    font-size: initial !important;
    line-height: 1.5 !important;
  }
}