.el-input {
  &.inline {
    display: inline-block !important;
    width: auto !important;
  }

  &.inline #{&}__inner {
    width: auto !important;
  }

  &__inner {
    border-radius: 0;

    &:read-only {
      border-color: darken($--color-border-extra-light, 5%);
    }
  }
}

.form-item {
  padding: 0.5rem 0;

  .el-input__inner {
    background-color: transparent;
    // border-color: $--color-border-base;
  }

  &.not-valid {
    .el-input__inner {
      border-color: $--color-danger;
    }
  }

  &__label {
    display: inline-block;
    line-height: 1.5;
    font-weight: 500;
    position: relative;

    .required & {

      &::after {
        content: "*";
        color: $--color-danger;
      }
    }
  }

  &__error,
  &__message {
    display: block;
    padding: 0.25rem 0 0;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  &__error {
    color: $--color-danger;
  }

  &__message {
    color: $--color-text-placeholder
  }
}