.el-message {
  font-family: inherit;
  // min-width: 640px;
  max-width: 640px;

  .el-message__content {
    line-height: 1.25;
    word-break: break-word;
  }

  &.is-closable #{&}__content {
    padding-right: 26px;
  }

  [class*=" el-icon-"] {
    align-self: flex-start;
    margin-top: 2px;
  }

  .el-message__closeBtn {
    top: 15px;
    transform: translate(0);
  }

  &-box {
    width: 100%;
    max-width: 37.5%;

    &__title {
      font-size: 1.25rem;
      line-height: 1.5;
      color: $--color-info;
    }

    &__status {
      top: 13px;
    }

    &__content {
      padding: 1.25rem 1rem;
      color: $--color-text-primary;
      font-size: 1rem;
    }

    &__btns button {
      padding: 12px 20px;
      font-size: 14px;
      border-radius: 4px;
    }

    &.warning {
      border-width: 1px;
      border-color: $--color-warning;

      // .el-message-box__title {
      //   color: $--color-warning;
      // }
    }
  }
}