.el-radio-button {

  &.is-active.is-disabled {

    .el-radio-button__orig-radio:checked+#{&}__inner {
      color: inherit !important;
      background-color: #fcfcfc !important;
      border-color: darken(#fcfcfc, 5%) !important;
    }
  }

  &__inner {
    border-radius: 0 !important;

    &:hover {
      background: $--color-primary-light-9;
    }
  }

  .not-valid & {

    &__inner {
      border-color: $--color-danger !important;
    }
  }
}