.el-radio-button {

  &__orig-radio:checked+#{&}__inner {
    color: #409EFF !important;
    background-color: #ecf5ff !important;
    border-color: #409EFF !important;
  }

  &.is-active.is-disabled {

    .el-radio-button__orig-radio:checked+#{&}__inner {
      color: inherit !important;
      background-color: #fcfcfc!important;
      border-color: darken(#fcfcfc, 5%) !important;
    }
  }
}