#app {
  min-height: 100vh;
}

::selection {
  background-color: $--color-primary;
  color: white;
}

pre {
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  background: $--color-primary-light-9;
  border: 1px solid $--color-primary-light-8;
  color: $--color-primary;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  overflow: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.page-header {

  span.d-block {
    line-height: 32px;
  }
}

.cover-whole {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer !important;
}

.click-to-remove {

  &:hover {
    color: $--color-danger;
    text-decoration: line-through;
  }
}