html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 100%;
  color: $--color-text-regular;
}

h1 {
  font-weight: 600;
  margin: 0;
  color: $--color-text-primary;
}

h2,
h3,
h4,
th {
  font-weight: 500;
  margin: 0;
  color: $--color-text-primary;
}

strong {
  font-weight: 700;
}

.fs-xs {
  font-size: 0.75rem !important;
}

.fs-sm {
  font-size: 0.875rem !important;
}

.fs-base {
  font-size: 1rem !important;
}

.fs-md {
  font-size: 1.25rem !important;
}

.fs-lg {
  font-size: 1.5rem !important;
}

.fs-xl {
  font-size: 2rem !important;
}

.fw-thin {
  font-weight: 300 !important;
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-primary {
  color: $--color-primary !important;
}

.text-info {
  color: $--color-info !important;
}

.text-success {
  color: $--color-success !important;
}

.text-warning {
  color: $--color-warning !important;
}

.text-error,
.text-danger {
  color: $--color-danger !important;
}

.text-dark {
  color: $--color-text-primary !important;

  &-l1 {
    color: $--color-text-regular !important;
  }

  &-l2 {
    color: $--color-text-secondary !important;
  }

  &-l3 {
    color: $--color-text-placeholder !important;
  }
}

// .clipboard-comp {
//   font-family: "Fira Code", monospace;
// }