.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;

  tbody {

    tr {

      th,
      td {
        padding: 0.75rem;
        border-bottom: 1px solid #EBEEF5;
      }

      th {
        text-align: left;
      }

      &:last-child {

        th,
        td {
          border-bottom: 0;
        }
      }
    }
  }

  &--details {
    margin: 0;

    tbody {
      th {
        width: 25%;
      }
    }
  }
}