.table {
  width: 100%;
  display: table;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  vertical-align: top;

  &-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  tbody {

    tr {

      th,
      td {
        padding: 0.5rem;
        border-bottom: 1px solid #EBEEF5;
        line-height: 2rem;
      }

      th {
        text-align: left;
      }

      &:last-child {

        th,
        td {
          border-bottom: 0;
        }
      }
    }
  }

  &--details {
    margin: 0;

    tbody {
      th {
        width: 25%;
      }
    }
  }
}