{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 64,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "preserve",
        "compiler": "0.8.9"
      }
    }
  ]
}